<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	#include("/layout/header.html")   
    
</head>

<body>
#parse("/layout/top.vm")

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
    	
    	#parse("/layout/leftsider.html")
		
        <div class="col-xs-13 col-sm-10">
            <div class="bs-example">
				<div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">漫画家 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/author/create">添加漫画家</a></li>
                  <li><a href="/manage/book/author/list">漫画家列表</a></li>   
				  <li><a href="/manage/book/author/home">其他</a></li>
                </ul>
              </div>
				
			  <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">漫画分类 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/type/create">添加分类</a></li>
                  <li><a href="/manage/book/type/list">分类列表</a></li>
                  <li><a href="#">其他</a></li>                                   
                </ul>
              </div><!-- /btn-group -->
				
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">漫画资源<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/create">添加漫画</a></li>
                  <li><a href="/manage/book/list">漫画列表</a></li>
                  
                </ul>
              </div><!-- /btn-group -->
              
              
			   
            </div>
			<hr>
			<div class="highlight">
			<div class="row">			  
              <span align="center" style="color:red ;text-align:center;display:block"><h3>漫画家中心</h3></span>
			  <br>			  
			  <table class="table table-bordered">
                <tr><td>

			  
				<div class="col-md-5">	
					
					还没有东西
					                    
				</div>
                 <div class="col-md-5">
					  沙发.....
					
                 </div>
				
				</td></tr>
				</table>								
			  </div>

			</div>	
				
            
       </div>

      </div>  

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div>

</body>
</html>