<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"    
    xmlns:context="http://www.springframework.org/schema/context"    
    xmlns:util="http://www.springframework.org/schema/util"    
    xsi:schemaLocation="
    		http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd    
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.2.xsd    
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd    
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util-3.2.xsd
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
            >
          
	<context:component-scan base-package="com.fanfan.manage" />	
	<mvc:annotation-driven />
	<aop:aspectj-autoproxy />
	<mvc:interceptors>			
		<mvc:interceptor>		
			<mvc:mapping path="/**" />
			<bean class="com.fanfan.manage.inteceptor.FormRepeatInterceptor"></bean>
		</mvc:interceptor>
		
		<mvc:interceptor>		
			<mvc:mapping path="/**" />
			<bean class="com.fanfan.manage.inteceptor.AdminInterceptor"></bean>
		</mvc:interceptor>
		
	</mvc:interceptors>	
			
	<bean id="dataSourceFacade" class="org.logicalcobwebs.proxool.ProxoolFacade" destroy-method="shutdown"/>
		 				
    <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
    
	    <property name="resourceLoaderPath">
	      	<value>/template/</value>
	    </property>
	    <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
            </props>
        </property>
    </bean>
    <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
 
	    <property name="suffix">
	    	<value>.vm</value>
	    </property>
	    <property name="contentType"><value>text/html;charset=UTF-8</value></property>
	    <property name="exposeRequestAttributes" value="true"/>
 		<property name="exposeSessionAttributes" value="true"/>
	</bean>
	<!--  --> 
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
    <property name="defaultErrorView">    
        <value>account/error/error</value>  
    </property>  
    <property name="defaultStatusCode">    
        <value>500</value>  
    </property>
          
	<property name="warnLogCategory">    
        <value>ERROR</value>  
    </property>  
     
	</bean> 
	
	<!-- 
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">     
         <property name="exceptionMappings">     
             <props>     
                 <prop key="java.lang.Exception">errors/error</prop>     
                 <prop key="java.lang.Throwable">errors/err</prop>     
             </props>     
         </property>     
         <property name="statusCodes">     
             <props>     
                 <prop key="errors/error">500</prop>     
                 <prop key="errors/404">404</prop>     
             </props>     
         </property>     
          设置日志输出级别，不定义则默认不输出警告等错误日志信息   (这个定义单指spring，如果抛出的是例如：hibernate的异常，而日志已经定义了hibernate的输出环境，依然会输出日志)
         <property name="warnLogCategory" value="WARN"></property>     
          默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置    
         <property name="defaultErrorView" value="errors/error"></property>     
          默认HTTP状态码    
         <property name="defaultStatusCode" value="500"></property>     
     </bean>   
     -->
</beans>