<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	#include("/layout/header.html")   
	 <script >
	
		
		function plat_delete(id){
			 var CarteValue = confirm("确认删除");
            if(CarteValue){
				 window.open ('/manage/base/platform/delete?id='+ id  , '_self');
				}
		}
			
		
    </script>	
</head>

<body>
#parse("/layout/top.vm")

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
    	
    	#parse("/layout/leftsider.html")
		
        <div class="col-xs-13 col-sm-10">
            <div class="bs-example">
			<div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">APPLICATION<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/base/app/create">app添加</a></li>
                  <li><a href="/manage/base/app/list">app列表</a></li>              
                </ul>
              </div>
			
				<div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">平台管理 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/base/platform/create">添加平台</a></li>
                  <li><a href="/manage/base/platform/list">平台列表</a></li>              
                </ul>
              </div>
								
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">翻译团队 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/base/transteam/create">添加团队</a></li>
                  <li><a href="/manage/base/transteam/list">团队列表</a></li>               
                </ul>
              </div>
              			  
			  <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">投票列表 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">			
                  <li><a href="/manage/base/vote/create">添加投票</a></li>
                  <li><a href="/manage/base/vote/list">投票列表</a></li>    
				  <li><a href="#">其他</a></li> 
				  
                </ul>
              </div>
			   
            </div>
			<hr>
			<p class="text-center text-primary">
				  
					<span style="color:blue">平台详情
                    </span>
			</p>
			<div class="highlight">
				
			<p class="text-left text-primary">
					<a href="/manage/base/platform/list" >
                                平台列表   
					</a>》<a href="/manage/base/platform/view?id=$!{plat.id}" >
                                $!{plat.name} 
					</a></p>	
				
			<div class="row">
              <div class="col-md-5">
					<table class="table">
					
					<tr>
					<td>
    					<p class="text-left">
    					 屏幕高: &nbsp;&nbsp;<span class="text-primary" ><small>$!{plat.height}</small>
                        </p>
					</td>	
					
					</tr>
						<tr>
					<td>
    					<p class="text-left">
    					 屏幕宽: &nbsp;&nbsp;<span class="text-primary" ><small>$!{plat.width}</small>
                        </p>
					</td>	
					
					</tr>
					
					<tr>
					<td>
    					<p class="text-left">
    					 状态: &nbsp;&nbsp;<span class="text-primary" ><small>
						#if($!{plat.status}==0)
							无效
						#elseif($!{plat.status}==1)
							有效																			
						#end</small>
						&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-info btn-sm" type="button" href="/manage/base/platform/update?id=$!{plat.id}">
					修改
               </a>	
                        </p>
					</td>						
					</tr>
                   </table>
			  </div>
             
              <div class="col-md-7">
				<a class="btn btn-info btn-sm" type="button" href="/manage/base/vote/option/create?voteId=$!{vote.id}">
					添加
               </a>	
			 <table class="table table-bordered">																			
				<tr>
					<th>名称</th>
					<th>宽度</th>
					<th>高度</th>	
					<th>创建时间</th>
					<th>更多</th>
				</tr>				
				#foreach($item in $!{plat.children})
                <tr>
					<td>$!{item.name}</td>
					<td>$!{item.width}</td>
					<td>$!{item.height}</td>
					<td>$!{item.createTime}</td>
					<td><div class="btn-group btn-group-xs">
						<a class="btn" href="/manage/base/platform/view?id=$!{item.id}">详情</a>	
						<a class="btn" href="/manage/base/platform/update?id=$!{item.id}">修改</a>
						<a class="btn" href="/manage/base/platform/addItem?id=$!{item.id}">添加子平台</a>
						<a class="btn" onclick="plat_delete($!{item.id})">删除</a>
					</div></td>
				</tr>
				#end
				</table>
				
				
			  </div>
            </div>
																	     					
			  </div>

			</div>	
				
            
       </div>
 
	 	
    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>
</div>
</body>
</html>