<html >
<head>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	#include("/layout/header.html")   
	<link rel="stylesheet" type="text/css" href="/manage/static/kindeditor/themes/default/default.css"/>	
	<script charset="utf-8" src="/manage/static/kindeditor/kindeditor.js"></script>
	<script charset="utf-8" src="/manage/static/kindeditor/lang/zh_CN.js"></script>
	<script charset="utf-8" src="/manage/static/datepicker/WdatePicker.js"></script>
	<script>
			KindEditor.ready(function (K) {
             var editor = K.editor({
                allowFileManager: true,
                fileManagerJson: '/manage/ke/filelist',
                uploadJson: '/manage/ke/upload',
                urlType: 'domain',
                
            });								
			K('#ImageUrlBtn').click(function() {
				editor.loadPlugin('image', function() {
					editor.plugin.imageDialog({						
						imageUrl :  K('#ImageUrlImg').attr('src'),
						clickFn : function(url, title, width, height, border, align) {
							K('#ImageUrlImg').attr('src', url);							
							K('#headImage').val(url);							
							editor.hideDialog();
						}
					});
				});
			});
			
			K('#ImageUrlBtn').click(function() {
				editor.loadPlugin('image', function() {
					editor.plugin.imageDialog({						
						imageUrl :  K('#ImageUrlImg').attr('src'),
						clickFn : function(url, title, width, height, border, align) {
							K('#ImageUrlImg').attr('src', url);							
							K('#headImage').val(url);							
							editor.hideDialog();
						}
					});
				});
			});
			
			
		});		
		
		var waring_name = 1;
		var waring_realName = 1;
		var waring_linkName = 1;
		var waring_linkTele = 1;
		var waring_linkEmail = 1;
		
		function confirm_name(_this){
			if(_this.val()==""){
				waring_name  = 1;
				$("#forName").html("不能为空");			
			}else{
				waring_name = 0;
				$("#forName").html("");
			}
		}
		
		function confirm_realName(_this){
			if(_this.val()==""){
				waring_realName  = 1;
				$("#forRealName").html("不能为空");			
			}else{
				waring_realName = 0;
				$("#forRealName").html("");
			}
		}
		
		function confirm_linkName(_this){
			if(_this.val()==""){
				waring_linkName  = 1;
				$("#forlinkName").html("不能为空");			
			}else{
				waring_linkName = 0;
				$("#forlinkName").html("");
			}
		}
		
		function confirm_linkTele(_this){
		var reg=/^([0-9]|[\-])+$/g ;
		if(_this.val()==""){
			waring_linkTele  = 1;
			$("#forlinkTele").html("不能为空");			
		}else if(!reg.test(_this.val())){
			waring_tel  = 1;
			$("#forlinkTele").html("错误的号码格式");
		}else{
			waring_linkTele = 0;
			$("#forlinkTele").html("");
		}
	}
	
	
	
	function confirm_linkEmail(_this){
	 	var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;     
		if(_this.val()==""){
			waring_linkEmail  = 1;
			$("#forlinkEmail").html("不能为空");			
		}else if(!reg.test(_this.val())){
			waring_linkEmail  = 1;
			$("#forlinkEmail").html("email格式不对");	
		}else{
			waring_linkEmail = 0;
			$("#forlinkEmail").html("");
		}
	}
		
		
	function form_submit(){
		waring =  waring_name + waring_realName + waring_linkName + waring_linkTele +waring_linkEmail  ;	
		if(waring>0){
			alert("请仔细填完表单");
			return false;
		}else{			
			return true;
		}
	}
		
		
	</script>			
    <style type="text/css">
        .form_settings
        {
                width: 80%;               
        }
        </style
</head>

<body>
#parse("/layout/top.vm")

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
    	
    	#parse("/layout/leftsider.html")
		
        <div class="col-xs-13 col-sm-10">
            <div class="bs-example">
				<div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">漫画家 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/author/create">添加漫画家</a></li>
                  <li><a href="/manage/book/author/list">漫画家列表</a></li>   
                </ul>
              </div>
				
			  <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">漫画分类 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/type/create">添加分类</a></li>
                  <li><a href="/manage/book/type/list">分类列表</a></li>
                </ul>
              </div><!-- /btn-group -->
				
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">漫画资源<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/create">添加漫画</a></li>
                  <li><a href="/manage/book/list">漫画列表</a></li>
                  
                </ul>
              </div><!-- /btn-group -->
              
              
			   
            </div>
			<hr>
				<p class="text-center text-primary">
				<span style="color:blue">漫画修改
                </span>
			</p>
			<div class="highlight">
				 <p class="text-left text-primary">
    					<a href="/manage/book/list" >
                                  漫画     
					          </a>>  <a href="/manage/book/view?id=$!{book.id}" >
                                  $!{book.bookTitle}       
					          </a>
                       
  
			</p>
			  <div class="row">		
				
			  <br>					
			      <form role="form" class="form-horizontal" method="post" action="/manage/book/update" >
					<table class="table table-bordered">
						<tr><td>
						<input type="hidden" name="id" value="$!{book.id}"/>
						<input type="hidden" name="updateUser" value="$!{admin.login_name}" />
						<input type="hidden" name="chapterNum" value="$!{book.chapterNum}"/>
					  <div class="form-group">
                        <label for="forName" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-4">
                          <input type="text" name="bookTitle" class="form-control" id="bookTitle" value="$!{book.bookTitle}" placeholder="">
                        </div>
                       </div>
					   
					  <div class="form-group">
                         <label for="forHeight" class="col-sm-2 control-label">作者名称</label>
                        <div class="col-sm-4">
                         <select class="form-control" name="authorId">
						 					   
						  #foreach($author in $!{authors})
                              <option value="$!{author.id}" #if($!{book.author.id}==$!{author.id}) selected #end>${author.name}</option>                        
						  #end
                        </select>
                        </div>
                      </div>
					   
					  <div class="form-group">
                        <label for="forWidth" class="col-sm-2 control-label">编辑</label>
                        <div class="col-sm-4">
                          <input type="text" name="bookEditor" class="form-control" id="bookEditor" value="$!{book.bookEditor}" placeholder="">
                        </div>
                      </div>
					  
					   <div class="form-group">
                        <label for="forWidth" class="col-sm-2 control-label">国家</label>
                        <div class="col-sm-4">
                          <input type="text" name="country" class="form-control" id="country" placeholder="" value="$!{book.country}">
                        </div>
                      </div>
					  
					  <div class="form-group">
                         <label for="forHeight" class="col-sm-2 control-label">翻译团队</label>
                        <div class="col-sm-4">
                         <select class="form-control" name="teamId">				
						  #foreach(${team} in $!{teams})
							
                              <option value="$!{team.id}" #if($!{book.transTeam.id}==$!{team.id}) selected #end>$!{team.name}</option>     
							  
						  #end
                        </select>
                        </div>
                      </div>
					  
					  <div class="form-group">
                        <label for="forBriefIntro" class="col-sm-2 control-label">简介</label>
                        <div class="col-sm-6">
                          <textarea name="briefIntro" id="briefIntro" class="form-control form_settings" rows="3"> $!{book.briefIntro}</textarea>
                        </div>
                      </div>
					  
					  <div class="form-group" >
                         <label for="forlinkEmail" class="col-sm-2 control-label">单行本:<span id="forlinkEmail" style="color:red"> </span></label>
						 
						  <label class="radio-inline">
                            <input type="radio" name="offPrint" id="isOffPrint1" value="1" #if($!{book.getOffPrint()}==1) checked #end>
                                                              是
                          </label >
                          <label class="radio-inline">
                            <input type="radio" name="offPrint" id="isOffPrint2" value="0" #if($!{book.getOffPrint()}==0) checked #end>
                                                              否
                          </label>                        
                       </div>
					   
					   <div class="form-group" >
                         <label for="forlinkEmail" class="col-sm-2 control-label">连载状态:<span id="forlinkEmail" style="color:red"> </span></label>
						 
						  <label class="radio-inline">
                            <input type="radio" name="serialize" id="isSerialize1" value="1"  #if($!{book.getSerialize()}==1) checked #end>
                                                               连载
                          </label >
                          <label class="radio-inline">
                            <input type="radio" name="serialize" id="isSerialize0" value="2"  #if($!{book.getSerialize()}==2) checked #end>
                                                               完结
                          </label>                        
                       </div>
					   
					   <div class="form-group" >
                         <label for="forlinkEmail" class="col-sm-2 control-label">独家标志<span id="forlinkEmail" style="color:red"> </span></label>
						 
						  <label class="radio-inline">
                            <input type="radio" name="exclusiveFlag" id="exclusiveFlag1" value="1" #if($!{book.exclusiveFlag}==1) checked #end>
                                                              是
                          </label >
                          <label class="radio-inline">
                            <input type="radio" name="exclusiveFlag" id="exclusiveFlag2" value="0" #if($!{book.exclusiveFlag}==0) checked #end>
                                                              否
                          </label>                        
                       </div>
					   
					   <div class="form-group">
                         <label for="forHeight" class="col-sm-2 control-label">原版标志</label>
                        <div class="col-sm-4">
                         <select class="" name="officialFlag">						 
                          <option value="1" #if($!{book.officialFlag}==1) checked #end>原版</option>
                          <option value="2" #if($!{book.officialFlag}==2) checked #end>官方译本</option>
						  <option value="3" #if($!{book.officialFlag}==3) checked #end>其他译本</option>
						 
                        </select>
                        </div>
                      </div>
					  
					  <div class="form-group" >
                         <label for="forlinkEmail" class="col-sm-2 control-label">搜索标志<span id="forlinkEmail" style="color:red"> </span></label>			 
						  <label class="radio-inline">
                            <input type="radio" name="searchFlag" id="searchFlag1" #if($!{book.searchFlag}==1) checked #end value="1" >
                                                              允许
                          </label >
                          <label class="radio-inline">
                            <input type="radio" name="searchFlag" id="searchFlag0" #if($!{book.searchFlag}==0) checked #end value="0">
                                                             不允许
                          </label>                        
                       </div>
					   
					    <div class="form-group">
                            <label for="forName" class="col-sm-2 control-label">上线时间</label>
                            <div class="col-xs-3">
                               <input type="text" name="onlineStr" class="form-control input-sm" value="$!{book.onlineTime}" placeholder="上线时间" onClick="WdatePicker()">
							
                            </div>
                       </div>
					   
					  <div class="form-group">
                         <label for="forHeight" class="col-sm-2 control-label">标签</label>
                        <div class="col-sm-4">
                          <input type="text" name="bookTags" class="form-control" id="bookTags" value="$!{book.bookTags}" placeholder="">
                        </div>
                      </div>
					  
					  <div class="form-group">
                         <label for="forHeight" class="col-sm-2 control-label">题材</label>
                        <div class="col-sm-4">
                          <input type="text" name="theme" class="form-control" id="theme" value="$!{book.theme}" placeholder="">
                        </div>
                      </div>
					  
					  <div class="form-group" >
                         <label for="forlinkEmail" class="col-sm-2 control-label">翻页操作<span id="forlinkEmail" style="color:red"> </span></label>			 
						  <label class="radio-inline">
                            <input type="radio" name="pageDirection" id="pageDirection1" value="1" #if($!{book.pageDirection}==1) checked #end>
                                                              左翻
                          </label >
                          <label class="radio-inline">
                            <input type="radio" name="pageDirection" id="pageDirection2" value="2" #if($!{book.pageDirection}==2) checked #end>
                                                            右翻
                          </label>                        
                       </div>
					  
					  <div class="form-group" >
                         <label for="forlinkEmail" class="col-sm-2 control-label">状态<span id="forlinkEmail" style="color:red"> </span></label>			 
						  <label class="radio-inline">
                            <input type="radio" name="status" id="status1" value="1" #if($!{book.status}==1) checked #end>
                                                              使用
                          </label >
                          <label class="radio-inline">
                            <input type="radio" name="status" id="status0" value="0" #if($!{book.status}==0) checked #end>
                                                             不使用
                          </label>                        
                       </div>					   			   
					  					  					  				   		   
					   <div class="form-group">
                           <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default"> 提交</button>
                           </div>
                       </div>
						  
					    </td></tr>
			           </table>	
                  </form>
				
				
			   							
			  </div>
			  
			</div>	
			
			
			
       </div>
	   
      </div>  
    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div>

</body>
</html>