<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	#include("/layout/header.html")   
		<link rel="stylesheet" type="text/css" href="/manage/static/kindeditor/themes/default/default.css"/>	
	<script charset="utf-8" src="/manage/static/kindeditor/kindeditor.js"></script>
	<script charset="utf-8" src="/manage/static/kindeditor/lang/zh_CN.js"></script>
    <script >
					
			KindEditor.ready(function (K) {
             var editor = K.editor({
                allowFileManager: true,
                fileManagerJson: '/manage/ke/filelist',
                uploadJson: '/manage/ke/upload',
                urlType: 'domain',
                
            });								
			K('#ImageUrlBtn').click(function() {
				editor.loadPlugin('image', function() {
					editor.plugin.imageDialog({						
						imageUrl :  K('#ImageUrlImg').attr('src'),
						clickFn : function(url, title, width, height, border, align) {
							K('#ImageUrlImg').attr('src', url);							
							K('#headImage').val(url);							
							editor.hideDialog();
						}
					});
				});
			});
		});	
		
		function initType(){
			url = "/manage/book/type/listJson";		
			$.post(url,function (data){					
                    if(data != null){					
					var strs = "";					
					for(var index = 0;index<data.length;index++){						
                        strs=strs+"<option value='"+data[index].id +"'>"+data[index].name+"</option>";												
						}
						$("#selectType").html(strs);						
					}
             },"json");		
		 }
		
    </script>
</head>

<body>
#parse("/layout/top.vm")

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
    	
    	#parse("/layout/leftsider.html")
		
        <div class="col-xs-13 col-sm-10">
            <div class="bs-example">
			<div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">漫画家 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/author/create">添加漫画家</a></li>
                  <li><a href="/manage/book/author/list">漫画家列表</a></li>   
                </ul>
              </div>
				
			  <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">漫画分类 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/type/create">添加分类</a></li>
                  <li><a href="/manage/book/type/list">分类列表</a></li>
                </ul>
              </div><!-- /btn-group -->
				
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">漫画资源<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/create">添加漫画</a></li>
                  <li><a href="/manage/book/list">漫画列表</a></li>
                  
                </ul>
              </div><!-- /btn-group -->
                            
			   
            </div>
			<hr>
			<p class="text-center text-primary">
				  
					<span style="color:blue">漫画详情
                    </span>
			</p>
			<div class="highlight">
				
			<p class="text-left text-primary">
					<a href="/manage/book/list" >
                                  漫画     
					</a>><a href="/manage/book/view?id=$!{book.id}" >
                             $!{book.bookTitle}       
					 </a>                          				                   
				</p>
				
				
			<div class="row">
              <div class="col-md-3">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					#set($size = $!{pics.size()} - 1)
					#set($arry = [1..${size}])
                        <ol class="carousel-indicators" >
                          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						  #foreach($item in $arry)
							<li data-target="#carousel-example-generic" data-slide-to="$!{item}" class=""></li>
						  #end
                         
                        </ol>
                        <div class="carousel-inner">
							#set($index = 1)
							#foreach($pic in $!{pics})
							 <div class="item #if($index ==1) active #end">
								<img src='$!{pic.picUrl}' alt="" class="img-thumbnail" style="width:160px;height:200px">
                              <div class="carousel-caption">
                              #set($index = $index +1)
                              </div>
                       		  </div>
							#end
												 
                        </div>
                                               
                      </div>	
					  <!--
			            <div>
						<img src="/manage/static/image/lunbo1.jpg" alt="..." class="img-thumbnail" style="width:30px;height:30px">
						<img src="/manage/static/image/lunbo1.jpg" alt="..." class="img-thumbnail" style="width:30px;height:30px">
						<img src="/manage/static/image/lunbo1.jpg" alt="..." class="img-thumbnail" style="width:30px;height:30px">
						<a class="btn btn-sm" id="ImageUrlBtn"><img src="" alt="  +" class="img-thumbnail" style="width:30px;height:30px"></a>
						</div>
						-->
			  </div>
             
              <div class="col-md-8">
				    
				<p class="text-left text-primary">
					漫画：&nbsp;&nbsp;<span style="color:red">$!{book.bookTitle}
                    </span>
				</p>
				<p class="text-left ">
					时间地区：&nbsp;&nbsp;<span style="color:red"> &nbsp;&nbsp;$!{book.addTime} &nbsp;&nbsp;| &nbsp;&nbsp;$!{book.country} 
                    </span>
				</p>
				<p class="text-left ">
					作者：&nbsp;&nbsp;<span class="text-primary" >$!{book.author.name}
                    </span>
				</p>
				<p class="text-left ">
					类型：&nbsp;&nbsp;<span class="text-primary" id="bookTypeSpan">					
                    #foreach(${item} in $!{book.booktypes})					
						$!{item.name}&nbsp;|						
					#end
                    </span>
					&nbsp;&nbsp;<a onclick="initType()" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal">
                                       新加入</a>
				</p>
				
				<p class="text-left ">
					主题 /标签：&nbsp;&nbsp;<span class="text-primary" >$!{book.theme} &nbsp;&nbsp;/&nbsp;&nbsp;$!{book.bookTags}
                    </span>
				</p>
				
				<p class="text-left ">
					是否单本 / 连载Or完结 ：&nbsp;&nbsp;
					<span class="text-primary" >
						#if($!{book.getOffPrint()}==1)
							 是
							 #else
								否
						#end
						&nbsp;&nbsp; /
						&nbsp;&nbsp;
						#if($!{book.getSerialize()}==1)
							连载
							#else
								完结
								#end
                    </span>
				</p>
				
				<p class="text-left ">
					搜索标志 / 翻页方式 ：&nbsp;&nbsp;
					<span class="text-primary" >
						#if($!{book.searchFlag}==1)
							 是
							 #else
								否
						#end
						&nbsp;&nbsp; /
						&nbsp;&nbsp;
						#if($!{book.pageDirection}==1)
							左翻
							#else
								右翻
								#end
                    </span>
				</p>
				
				<p class="text-left ">
					独家 / 原版标志：&nbsp;&nbsp;<span class="text-primary" >&nbsp;&nbsp;
						#if($!{book.exclusiveFlag}==1)
							是
							#else
								否
						#end
						&nbsp;&nbsp;/&nbsp;&nbsp;
						#if($!{book.officialFlag}==1)
							原版
							#elseif($!{book.officialFlag}==2)
								官方译本
								#else
									其他译本
									#end
                    </span>
				</p>
				<p class="text-left ">
					是否使用 ：&nbsp;&nbsp;
					<span class="text-primary" >
						#if($!{book.status}==1)
							使用
							 #else
								未使用
						#end
						&nbsp;&nbsp;&nbsp;
						#if($!{book.status}==1)
							<a type="button" class="btn btn-danger btn-sm" href="/manage/book/used?id=$!{book.id}&status=0">不使用</a>
							#else
							<a type="button" class="btn btn-primary btn-sm" href="/manage/book/used?id=$!{book.id}&status=1">使用</a>
							#end
                    </span>
				</p>
				<p class="text-left ">
					简介：&nbsp;&nbsp;<span >$!{book.briefIntro}
                    </span>
				</p>
			
				
				
				<p class="text-left ">
				<a href="/manage/book/pic/list?bookId=$!{book.id}" class="btn btn-primary btn-sm" >
                                         图片管理
                </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/manage/book/part/list?bookId=$!{book.id}" class="btn btn-primary btn-sm" >
                                         章节管理
                </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/manage/book/edcomment/list?bookId=$!{book.id}" class="btn btn-primary btn-sm" >
					编辑评论                  
                </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/manage/book/types?id=$!{book.id}" class="btn btn-primary btn-sm" >
					 分类管理                 
                </a>
				</p>
			  </div>
            </div>
			<br>
			
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">分类归档</h4>
                  </div>
                  <div class="modal-body">
					<form role="form" class="form-horizontal" method="post" action="/manage/book/type/ref/create">
						<input type="hidden" name="bookId" value="$!{book.id}">						
						<div class="form-group">
                            <label class="col-sm-2 control-label">漫画名称</label>
                            <div class="col-sm-10">
                               <p class="form-control-static">$!{book.bookTitle}</p>
                            </div>
                          </div>
						
						  <div class="form-group">
                             <label for="forHeight" class="col-sm-2 control-label">选择类目</label>
                            <div class="col-sm-4">
                             <select class="form-control" name="typeId" id="selectType">
    							   
    						  
                            </select>
                            </div>
                          </div>
                        
						<div class="form-group" >
                             <label for="forlinkEmail" class="col-sm-2 control-label">是否启用<span id="forlinkEmail" style="color:red"> </span></label>
    						 
    						  <label class="radio-inline">
                                <input type="radio" name="status" id="status1" value="1" checked>
                                                                  是
                              </label >
                              <label class="radio-inline">
                                <input type="radio" name="status" id="status0" value="0">
                                                                否
                              </label>                        
              		 </div>
						
						
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit"  class="btn btn-primary">提交</button>
                  </div>
                </div>
              </div>
            </div>					
				
	        <span class="text-primary" >漫画信息列表</span>
			——————————————————————
			<br>
				<br>
				
			<div class="row">
				
				<div>
				<a class="btn" href="/manage/book/info/create?bookId=$!{book_id}">
                             添加信息
               </a>	
				<table class="table table-bordered">																			
				<tr>
				
					<th>平台名称</th>
					
					<th>计费  / 点券</th>
					<th>
						推荐  / 热门
                    </th>
					
					
					<th>详情</th>
				</tr>				
				#foreach($item in $!{bookInfos})
                <tr>
					
					<td>$!{item.pk.platForm.name}</td>
					<td>
						#if($!{item.hasFee} ==1)
							计费
							#else
								免费
						#end
						&nbsp;&nbsp;/&nbsp;&nbsp;
						#if($!{item.hasTicket} ==1)
							是
							#else
								否
						#end
					</td>
					<td>
						#if($!{item.hotFlag} ==1)
							是
							#else
								否
						#end
						&nbsp;&nbsp;/&nbsp;&nbsp;
						#if($!{item.recommendFlag} ==1)
							 推荐
							#else
								不推荐
						#end
					</td>	
					
				
					
					
					<td><div class="btn-group btn-group-xs">
						<a class="btn" href="/manage/book/info/view?bookId=$!{item.pk.book.id}&platId=$!{item.pk.platForm.id}">查看</a>	
					</div></td>
				</tr>
				#end
				</table>
				
                </div>
								
                </div>
				
			  </div>

			</div>	
				
            
       </div>
 
	 	
    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>
</div>
</body>
</html>