<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	#include("./layout/header.html")   
    
</head>

<body>
#parse("./layout/top.vm")

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
    	
    	#parse("./layout/leftsider.html")
		
        <div class="col-xs-13 col-sm-10">
            <div class="bs-example">
				<div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">漫画推荐<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/client/recommend/create">添加推荐</a></li>
                  <li><a href="/manage/client/recommend/list">推荐列表</a></li>
                  
                </ul>
              </div>
				
				
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">热门搜索<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/client/hotsearch/create">添加搜索词</a></li>
                  <li><a href="/manage/client/hotsearch/list">搜索列表 </a></li>                 
				  
                </ul>
              </div><!-- /btn-group -->
             <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">滑块展示<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/client/slidershow/create">添加滑块</a></li>
				  <li><a href="/manage/client/slidershow/list">滑块列表</a></li>
                  <li class="divider"></li>
                  
                </ul>
              </div><!-- /btn-group -->
             
            </div>
			<hr>
			<div class="highlight">
				

			</div>	
				
            
       </div>

      </div>  

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div>




</body>
</html>