<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	#include("/layout/header.html")   
    <script >
		function type_delete(id){
			 var CarteValue = confirm("确认删除");
            if(CarteValue){
				 window.open ('/manage/book/type/delete?id='+ id  , '_self');
				}
			}
    </script>
</head>

<body>
#parse("/layout/top.vm")

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
    	
    	#parse("/layout/leftsider.html")
		
        <div class="col-xs-13 col-sm-10">
            <div class="bs-example">
			<div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">漫画家 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/author/create">添加漫画家</a></li>
                  <li><a href="/manage/book/author/list">漫画家列表</a></li>   
                </ul>
              </div>
				
			  <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">漫画分类 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/type/create">添加分类</a></li>
                  <li><a href="/manage/book/type/list">分类列表</a></li>
                </ul>
              </div>
				
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">漫画资源<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/manage/book/create">添加漫画</a></li>
                  <li><a href="/manage/book/list">漫画列表</a></li>
                  
                </ul>
              </div>
                         
            </div>
			<hr>
				<p class="text-center text-primary">
					<span style="color:blue">漫画类别列表
                    </span>
				</p>
			<div class="highlight">
			<div class="row">			  
              		  
			  
			   <p class="text-center text-primary">
			     <a type="button" id="status1" href="/manage/book/type/list?status=1" class="btn btn-sm #if($!{status} ==1) btn-success #else btn-default #end">有效</a>
                  <a type="button" id="status0" href="/manage/book/type/list?status=0" class="btn btn-sm #if($!{status} ==0) btn-success #else btn-default #end">无效</a>
				  </p>
				  <a class="btn btn-xs btn-info" href="create">
                              添加
               </a>
			  <table class="table table-bordered">																			
				<tr>
					<th>名称</th>
					<th>分类方式</th>
					<th>是否送点券</th>
					<th>免费</th>
					<th>是否使用</th>
					<th>操作</th>
				</tr>				
				#foreach($item in $!{context.list})
                <tr>
					<td>$!{item.name}</td>
					<td>$!{item.method}</td>
					<td>
						#if($!{item.hasPoints} ==0)
							否
							#else
								是
								#end
					</td>
					<td>
						#if($!{item.hasFee} ==0)
							否
							#else
								是
								#end
					</td>
					<td>
						#if($!{item.status}==1)
							使用
							#else
								未使用
								#end
					</td>
					<td><div class="btn-group btn-group-xs">
						<!-- 	
						<a class="btn btn-info btn-xs" type="button" href="view?id=$!{item.id}">查看</a>
						-->
						
						
						
						#if($!{item.status}==1)
							<a class="btn btn-warning btn-xs" type="button" href="update?id=$!{item.id}">修改</a>
							<a  class="btn btn-primary btn-xs" href="upused?id=$!{item.id}&status=0">不使用</a>
						#else	
							<a  class="btn btn-primary btn-xs" href="upused?id=$!{item.id}&status=1">使用</a>
						#end
						
							<a class="btn btn-danger btn-xs" type="button" onclick="type_delete($!{item.id})">删除</a>
						
					</div></td>
				</tr>
				#end
				</table>
				#parse("/layout/pagenav.vm")
			  </div>

			</div>	
				
            
       </div>

      </div>  

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div>

</body>
</html>