


<div class="col-xs-3 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">

            <div class="list-group">
            
            <a href="/manage/base/home" class="list-group-item">基础管理</a>
            <a href="/manage/book/home" class="list-group-item">漫画管理</a>
            <a href="/manage/activity/home" class="list-group-item">活动管理</a>
            <a href="/manage/user/home" class="list-group-item">用户管理</a>                      
            <a href="/manage/client/home" class="list-group-item">客户端管理</a>
            
            
          </div>
</div><!--/span-->
        
        
        